CREATE USER IF NOT EXISTS grafana IDENTIFIED WITH sha256_password BY '__GRAFANA_CH_PASSWORD__';
ALTER USER grafana IDENTIFIED WITH sha256_password BY '__GRAFANA_CH_PASSWORD__';
GRANT SELECT ON *.* TO grafana;
