apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    basicAuth: false
    isDefault: true
    jsonData:
      server: clickhouse
      port: 9000
      protocol: native
      defaultDatabase: analytics
      username: grafana
    secureJsonData:
      password: __GRAFANA_CH_PASSWORD__
    editable: true
